<b>Successful updates:</b>
{% if cf_successful_updates|length %}
    <table>
        <tr>
            <th>Domain</th>
            <th>New IP</th>
            <th>Proxied</th>
        </tr>
    {% for cf_domain, cf_value in cf_successful_updates.items() %}
        <tr>
            <td>{{ cf_domain }}</td>
            <td>{{ cf_value[0] }}</td>
            <td>{{ cf_value[1] }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>None</p>
{% endif %}

<b>Unsuccessful updates:</b>
{% if cf_unsuccessful_updates|length %}
    {% for cf_update in cf_unsuccessful_updates %}
        <li>{{ cf_update }}</li>
    {% endfor %}
{% else %}
    <p>None</p>
{% endif %}