<html>
    <head>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
        </style>
    </head>

<h2>Hello,</h2>

<p>Your public IP has changed from {{ oldIP }} to {{ newIP }}.</p><br>
<p>You should change the resources that depend on your public IP.</p><br>

{% if templates|length %}
    {% for t in templates %}
        {% include t %}
    {% endfor %}
{% endif %}

---<br>
Public IP Tracker
</html>